:root {
    --color-primary: #f9d72f;
    --color-background: #e6e6e6;
    --color-task: #f7f7f7;
    --color-success: #36d39a;
    --color-warning: #fbbe23;
    --color-error: #f87171;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    max-width: 1000px;
    margin: auto;
    /* font-size: 1.2em; */
}

div.container {
    width: 100%;
    margin: 40px auto 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3) ;
    border-radius: 10px;
    border: 1px solid rgba(255,2555,255,0.18);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

div.input-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

div.input-section input {
    margin-right: 10px;
    width: 100%;
    border: var(--color-primary) 1px solid;
    border-radius: 5px;
    padding: 10px;
    color: grey;
}

.input-section input:focus {
    outline: none;
    border-width: 2px;
}


button {
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}
button:hover {
    opacity: 0.8;
}

.todos-operator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.buttons > button {
    background-color: rgb(255, 77, 77);
    font-weight: bold;
}
#delete-all-button {
    background-color: var(--color-error);
}

p.statusAlert {
    width: 100%;
    background-color: lightgreen;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
}

table {
    width: 100%;
    /* margin: auto; */
    /* text-align: center; */
}

thead {
    background-color: var(--color-background);
}

thead th {
    padding: 10px;
}

thead th:first-of-type {
    border-top-left-radius: 10px;
}

thead th:last-of-type {
    border-top-right-radius: 10px;
}

tbody td {
    background-color: var(--color-task);
    padding: 5px 10px;
    text-align: center;
}

tbody td button {
    padding: 4px 8px;
    margin: 2px 5px;
}

tbody td button:nth-child(1) {
    background-color: var(--color-warning);
}

tbody td button:nth-child(2) {
    background-color: var(--color-success);
}

tbody td button:nth-child(3) {
    background-color: var(--color-error);
}